body {
  display: flex;
  flex-direction: column;
  background-repeat: repeat;
  background-size: cover;
  
}

main {
  display: flex;
  flex-direction: column;
  background-repeat: repeat;
  background:url('https://source.unsplash.com/zIyOsbZi58w');
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}

header {
  background-color: #484747;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li.logo {
  font-size: 24px;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  overflow-x: auto;
}

.row {
  display: flex;
}

article, aside {
  flex: 0 0 auto;
  width: 66.66%;
  overflow-y: auto;
}

aside {
  flex: 0 0 auto;
  width: 33.33%;
  overflow-y: auto;
}

.comment-thread {
  background-color: #f0f0f0;
  padding: 10px;
}

.comment-thread h4 {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
